body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#image {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    margin: 15px 0 5px 0;
}

h3 {
    margin: 50px 0;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

footer {
    font-weight: bold;
}

#tribute-link {
    color: #477ca7;
}